@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Damion&display=swap");

.ant-layout {
  width: 100%;
  background-color: #cddddd;
  color: #cddddd;
  overflow-y: auto;
}

.ant-layout-header {
  color: #111;
  font-weight: bold;
  letter-spacing: -1px;
  background-color: #cddddd;
  font-family: "Damion", cursive;
  letter-spacing: 0.5rem;
  text-decoration: underline;
  text-decoration-color: #e0aa2a;
  text-underline-position: under;
  font-size: 4rem;
  padding-top: 50px;
  height: 140px;
  display: flex;
  justify-content: center;
}

.ant-layout-content {
  padding: 50 50 50 50;
  background-color: #cddddd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.ant-list-vertical .ant-list-item-meta-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 24px;
  color: #111;
}

.ant-list-item-meta-description {
  font-size: 18px;
  color: #111;
}

.ant-layout-footer {
  color: #111;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  min-height: 100px;
}

.ant-card-body {
  padding: 0;
  zoom: 1;
}
